body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 10px;
}

#man-in-hole { background-color: blue; }
#boy-meets-girl { background-color: red; }
#kafkaesque { background-color: green; }
#hamlet { background-color: purple; }
#cinderella { background-color: orange; }

.button:hover { opacity: 0.7; }

.button.active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
